/* sass --watch stylesheet.scss:../css/style.min.css --style=compressed */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body,
figcaption {
    font-family: "Gudea", sans-serif;
    font-size: 15px;
}

figure {
    position: relative;
}

figcaption {
    text-transform: uppercase;
    text-align: center;
    padding: 3px 15px;
    display: inline-block;

    &.category-figure {
        background-color: #009ee2;
        color: white;
        position: absolute;
        left: 0;
        bottom: 4px;
    }

    &.title-slider {
        font-size: 16px;
        background-color: none;
    }
}

img {
    width: 100%;
}

article {
    padding: 20px 20px 0;
}

h4 {
    margin: 15px 0 5px;
}

#date::before {
    content: "";
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
    background-image: url("../img/rayo.svg");
    height: 15px;
    width: 15px;

}
