/* sass --watch stylesheet.scss:../css/style.min.css --style=compressed */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
}

body {
    font-family: "Gudea", sans-serif;
}