/* sass --watch stylesheet.scss:../css/style.min.css --style=compressed */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body,
figcaption {
    font-family: "Gudea", sans-serif;
    font-size: 15px;
}

figure {
    position: relative;
}

figcaption {
    text-transform: uppercase;

    &.category-figure {
        text-align: center;
        display: inline-block;
        padding: 3px 15px;
        background-color: #009ee2;
        color: white;
        position: absolute;
        left: 0;
        bottom: 4px;
    }

    &.title-slider {
        font-size: 16px;
        background-color: none;
        font-weight: bold;
        border-bottom: 2px solid;
        border-color: #009ee2;
    }
}

img {
    width: 100%;
}

article {
    padding: 20px 20px 0;
}

h4 {
    margin: 15px 0 5px;
}

#date::before {
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/rayo.svg");
    height: 15px;
    width: 15px;
}

main {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 10px;
    }
}

.main-articles {
    @media (min-width: 768px) {
        object-fit: cover;
        
    }
}